.js body > header
	> div
		center(960px)
		margin-bottom 0
	nav > ul
		> li
			position relative
			float left
			list-style none
			> ul
				display:none
				position absolute
				z-index 999999
				left 0
				top 3.7em
				border none
				background $blue
				border-radius(5px)
				box-shadow(0,0.1em,0.2em rgba(0,0,0,0.2))
				> li
					width 100%
					padding 0em 1em
					border-bottom 1px solid darken($blue,20%)
					box-shadow(0, 2px, 0 lighten($blue,20%))
					a
						text-align center !important
						border none
						:hover
							text-shadow 0 -1px darken($blue, 40%), 0 2px lighten($blue, 40%)
				:last-child
					border-bottom none
					box-shadow none
				:hover a
					position static
					padding 0 !important
				:before
					content:"";
					border-color: transparent transparent $blue transparent;
					border-style:solid;
					border-width:8px;
					position:absolute;
					top:-15px;
					left:50%;
					margin-left:-8px
				> li.active a
					color darken($blue, 50%)
				> li.active a:hover
					color white
		:hover ul
			display block

.js body > header.root > div
	.logo
		offset(0)
	nav
		overflow visible
		position absolute
		top 38px
		right 0
		text-align right
		width auto
		margin 0
		> ul
			border none
			position relative
			left 1em
			> li
				padding 0 1em
				a
					text-align left
					border none
					display block
			>li:hover
				padding-bottom 0.25em
			>li:hover > a
				position relative
				top -0.1em
				padding-bottom 0.25em !important
			.active > a
				background url(../img/primary_nav_active_marker.png) no-repeat bottom
				padding-bottom 0.15em
			ul
				background $blue
				border-top none
				li.active a
					background none
				li a:hover
					text-shadow 0 -1px darken($blue, 40%), 0 2px lighten($blue, 40%)


	.cta
		right 1.8%
		display none

.js body > header.child
	.logo
		padding-top 0
		margin-top 1em
		margin-bottom 0
	nav
		> ul
			background none
			border none
			position relative
			left -0.75em
			> li
				padding 0 0.75em
				&:hover
					padding-bottom 0.2em
				a
					border none
					color $blue
					padding 0
				:hover
					color darken($grey, 75%)
				ul
					left -1em
					top:3.2em
					background $blue
					li
						margin-right 0
						padding 0em 1em
						a
							color white
							text-shadow none
							display block
					:hover a
						text-shadow 0 -1px darken($blue, 40%), 0 2px lighten($blue, 40%)
						padding 0.5em 1em
						color white
					.active > a
						color darken($blue, 50%)
					> li:before a
						border none
			.active > a
				background #40aede
				border-radius 15px
				padding 0 1em
				color white
				line-height 1.4em
				margin-top 0.2em
		ul.submenu
			clear left
			border-top 1px solid $white
			box-shadow(0,-1px 0, rgba(0,0,0,0.1));
			padding-top 0.1em
			li ul li a
				border none
	>div .cta
		top 0
	.extended-cta
		bottom 5.5em


.js > body .entry-content
	margin 0 1em

body.blog, body.single-post
	> section > div
		col(16)

article.type-post
	position relative
	> header >time
		position absolute
		top 0
		left -2.5em

body > section > aside
	col(8)
	last()

article.class
	col(16)

.multihero
	box-shadow(0,0,2.5em,rgba(0,0,0,0.25))
	margin-top 0.75em
	margin-bottom 1.5em
	ul li
		margin-bottom 0
		div
			position absolute
			top 50%
			width 60%
			border-top-right-radius 5px
			border-bottom-right-radius 5px
			box-shadow(0,0.2em,7px rgba(0,0,0,0.6))
	.carousel-control
		top 40%

.wateraid
	ul li div
		top 42%
		width 50%

.primary li
	float:none

 .worldmap, .donations, .project-news, .project-tutorial
	col(12)
	text-align:left
	border-bottom none
	box-shadow none

.worldmap
	max-width none
	margin-left 0
	margin-right 1%
	img
		left -0.75em

.donations
	margin-left 1%
	paddin-bottom 2em
	small
		text-align left
	.secondary_cta
		width 49%


.donations, .project-tutorial
	last()

footer h3
	text-align left

.localmap
	background url(../img/bg-map.png) no-repeat
	background-size 310px 310px
	padding 20px
	padding-bottom 2em
#localmap
	width 270px
	height 270px
	border 1px solid lighten($grey, 80%)

.post-type-archive-tutorial section, .tax-tutorial_tag section, .tax-level section, .single-tutorial section
	.tutorials .item iframe
		float left
		margin-right 1em

body time
	background url(../img/bg_cal.png) no-repeat;
	color white
	display block
	width 2.3em
	padding 0.25em 0 0 0.5em
	font 1.7em $tertiary
	overflow hidden
	min-height 1.5em
	span
		width 1.5em
		float right
		text-align right
		font-size 0.4em
		margin-top 0.5em
		position relative
		right 10px
		line-height 1em