.js > body
	> header > div
		.logo
			col(12)
			img
				width 100%
		nav
			col(24)
			ul
				margin-top 0
				ul
					display none
		.cta
			display block
			width auto
			position absolute
			z-index: 2
			right 1.8%
			top 0
			li
				float left
		.bannerad
			max-width 150px
			margin-right 1em
			clear none
			*
				float none
			span
				display block
				text-align center

		.extended-cta
			position absolute
			bottom 0

	> header.root > div
		.cta
			float right

	> header.child > div
		.cta
			border-top 0
			z-index 99999
			a
				border-top 0
		nav
			> ul
				background-position 95% 24px
				background-repeat no-repeat
				background-image url(../img/up-arrow.png)
			> ul.collapsed
				background-image url(../img/down-arrow.png)
	.entry-content
		margin 0 1em

.worldmap
	position relative
	max-width 500px
	margin auto
	>div
		position absolute
		z-index 2
		background $orange
		color white
		text-align center
		line-height 1em
		font-size 0.8em
		font-weight bold
		span
			display block
		a
			color white
		ul
			display none
			list-style none
			padding 0
			margin 0
	>div:hover, >div:focus, >div:active
		z-index 3
		ul
			display block
			padding-bottom
			li a
				display block
				padding 0.25em 0.5em
			li:hover a
				background darken($blue, 25%)
				text-shadow none
				color white
			li:hover:last-child a
				border-bottom-right-radius 5px
				border-bottom-left-radius 5px

.donations
	span
		font-size:3.2em
	small
		text-align center

ul.popup-menu
	display:none
	position absolute
	left:-50%
	border none
	background $blue
	border-radius(5px)
	box-shadow(0,0.2em,0.2em rgba(0,0,0,0.2))
	li
		padding 0em 1em
		border-bottom 2px groove lighten($blue,30%)
	:last-child
		border-bottom none
