html
	background url(../img/noise.png)
	color $black
	.center
		max-width 960px
		position relative
	font 1.3em/1.5em $body
	font-weight 200
	-webkit-font-smoothing: antialiased;

body
	margin 0
	h1,h2,h3,h4,h5,h6, nav a
		font 1.6em $display
	h1,h2,h3,h4,h5,h6
		text-shadow 0px 1px white
	h1, .item h2
		font-size 1.8em
		color $purple
	.item h2
		margin-top 0
	header h2>a
		color $purple
	p, li
		text-shadow 0px 1px white
	strong, b
		font-weight 400
	a
		text-decoration: none
		color $blue
		:hover
			color darken($blue, 20%)
	img
		max-width 100%
		height auto

	form
		label
			display block
			text-indent 100%
			white-space nowrap
			overflow hidden
			line-height 0.25em
			input, textarea
				color darken($grey, 50%)
				display block
				width 100%
				font 1.4em $tertiary
				padding 0.3em
				border-radius 5px
				border none
				box-shadow(inset 0, 1px, 4px, rgba(0,0,0,0.25))
				-webkit-font-smoothing: antialiased;
			:focus
				outline none
				background linear-gradient(top, white 0%, lighten($blue, 96%))
		input[type=submit]
			margin-top 0.25em
			font-size 1.8em
		.warning, .error
			text-indent 0
			color rgb(204,72,72)
			line-height 1.4em
			display block

	article header img, .item img
		box-shadow(0,1px,4px, rgba(0,0,0,0.33))
		margin-bottom 0.5em
		border-radius 3px
	aside
		section
			padding-bottom 1em
			margin-bottom 1em
			border-bottom 1px solid lighten($grey, 25%)
			box-shadow(0,1px,0, white)
		:last-child, .widget_search
			border-bottom none
			box-shadow none
			margin-bottom 0.25em
		h3
			color $purple
			text-align right
			clear right
		h4, h5
			color darken($grey, 75%);
			font-family district_prothin
			font-size 1em
			clear right
		h4
			text-align right
			font-weight bold
			margin-bottom -1.25em
		h5
			font-style italic
			text-decoration underline
		dl
			margin 0
			clear right
			overflow hidden
			margin-bottom 1em
			dt
				float left
				clear right
				padding-left 1em
				background url(../img/bullet.png) no-repeat 0px 10px
			dd
				float right
	time
		font-family $tertiary

	.button, input[type=submit]
		font 2em $tertiary
		color lighten($green, 95%)
		text-shadow 0px -1px darken($green, 10%), 0px 1px lighten($green, 80%)
		-webkit-font-smoothing: antialiased;
		padding 0 0.5em 0.12em
		background linear-gradient(top, lighten($green, 50%) 0%, lighten($green, 20%) 10%, $green)
		border 1px solid darken($green, 10%)
		border-radius 4px
		box-shadow(0, 2px, 4px, rgba(0,0,0,0.25))
	.button:hover, input[type=submit]:hover
		box-shadow(0 2px 7px, rgba(0,0,0,0.33))
		color lighten($green, 95%)
	.button:active, input[type=submit]:active
		background linear-gradient(top, darken($green, 25%) 0%, darken($green, 15%) 10%, darken($green, 5%) 95%, darken($green, 10%))
		color lighten($green, 90%)
		box-shadow(0,1px,0px,rgba(255,255,255,1))

body > header
	> div
		position relative
	nav ul
			list-style none
			margin 0
			margin-top 1em
			padding 0
			border-bottom 1px solid lighten($blue, 10%)
			border-top 1px solid darken($blue, 20%)
			li
				padding 0
				a
					stack()
					line-height 1.8em
					color: white
					font-family $
					font-size 1.2em
					margin 0
					border-bottom 1px solid darken($blue, 20%)
					border-top 1px solid lighten($blue, 10%)
					text-shadow none
				:hover
					color white
				ul
					background darken($blue, 20%)
					font-size 0.8em
					border-top 1px solid darken($blue, 25%)
					margin-top 0
					li
						margin-left 0
						a
							border none
							line-height 1.8em
							border-bottom 1px solid darken($blue, 25%)

	.cta
		text-align center
		padding 0
		margin 0
		border 1px solid darken($blue, 20%)
		border-top 0
		border-bottom-right-radius 5px
		border-bottom-left-radius 5px
		li
			list-style none
			overflow hidden
			display inline-block
			a
				width 42px
				height 38px
				padding 4px
				display block
				background linear-gradient(top, $blue, darken($blue, 20%))
				border 1px solid lighten($blue, 10%)
				border-top 0
				color lighten($blue, 90%)
				text-transform uppercase
				font-size 0.7em
				&:hover
					color white
				i.icon-4water
					background url(../img/logo-small-embossed.png) no-repeat;
					height 30px
					width 25px
					display block
					position relative
					left 3px
					top -2px

	.bannerad
		position absolute
		top 0
		right 0
		background url(../img/banner-narrow.png) no-repeat
		color $black
		overflow hidden
		padding 5.5em 0.5em 0.5em
		margin 1.5em 0 1em
		font-size 0.8em
		line-height 1.4em
		text-align left
		h3
			display none
		p
			float left
			margin 0
			text-align center
		span
			background url(../img/get-one.png) no-repeat center
			padding 5px 8px
			color white
			text-transform uppercase
			float right
			position: relative
			margin-top 0.5em
			cursor pointer

	.extended-cta
		padding 0.25em 0
		clear both
		background linear-gradient(top, darken($blue, 30%), $blue 8%)
		margin-bottom 0
		p
			font-family $display
			font-size 1.4em
			background url(../img/facebook.png) no-repeat center left
			color darken($blue, 40%)
			text-shadow none
			margin 0.25em 0em
			display inline
			padding-left 26px
			a
				color lighten($blue, 80%)
				background url(../img/underline.png) no-repeat bottom
				padding-bottom 0.3em

body > header.root
	background $blue
	box-shadow(0 0 7px rgba(0,0,0,0.2))
	> div
		center(960px, 0px)
		position relative
		cf()
		>*
			stack()
		.logo
			margin: 1em auto
			padding-right 1em
			max-height 200px
			img
				margin auto

body > header.child
	a.logo
		float none
		margin-bottom 0.5em
		padding-top 1.3em
		display block
		img
			width auto
			margin 0
	nav
		ul
			background $blue
			border none
			a
				text-align left
				padding 0 1em
			ul
				background darken($blue, 20%)
				border-top 1px solid darken($blue, 25%)
				a
					border-bottom 1px solid darken($blue, 25%)
					padding 0 1.5em
		ul.submenu
			background #EAB431
			margin-bottom 1em
			border none
			li
				a
					border-bottom 1px solid darken(#EAB431, 20%)
					border-top 1px solid lighten(#EAB431, 10%)
				ul
					background darken(#EAB431, 20%)
					border-top 1px solid darken(#EAB431, 25%)
					border none
					li a
						border-top none
						border-bottom 1px solid darken(#EAB431, 25%)
	.extended-cta
		display none
	.cta
		li a
			width 36px
			height 40px
			background $blue url(/content/themes/4water/img/icon.png) no-repeat center center
			display block
			text-indent 100%
			overflow hidden
			i
				display none

body > section, footer>div
	center(960px, 0)
	padding 1em


.multihero
	position relative
	overflow hidden
	width 100%
	margin 0
	ul
		list-style none
		padding 0
		margin 0
		width 500%
		li
			width 20%
			float left
			position: relative
			margin-bottom 1em
			img
				display block
			div
				background linear-gradient(top, $green, lighten($green, 10%))
				box-shadow(0,0,7px rgba(0,0,0,0.2))
				color white
				padding 0.5em 1em
				overflow hidden
				h3
					margin 0em
					font-size 1.8em
					line-height 1em
					text-shadow -1px -1px darken($green, 30%), 1px 1px lighten($green, 30%)
				p
					letter-spacing 0.1em
					font-size 0.8em
					line-height 1.5em
					text-shadow -1px -1px darken($green, 10%), 1px 1px lighten($green, 30%)
					margin 0
					margin-bottom 0.25em
					-webkit-font-smoothing: subpixel-antialiased;
				a
					color white
	.carousel-control
		position absolute
		top 8%
		right 0
		width 50px
		height 90px
		text-indent 100%
		overflow hidden
	.left
		right 51px
		background rgba(0,0,0,0.7) url(../img/hero-left.png) no-repeat 12px 16px
	.right
		background rgba(0,0,0,0.7) url(../img/hero-right.png) no-repeat 16px 16px

.wateraid
	ul li div
		right 0
		border-top-right-radius 0 !important
		border-bottom-right-radius 0 !important
		border-top-left-radius 5px
		border-bottom-left-radius 5px
		a
			color white
	.carousel-control
		left 0
		right auto
	.right
		left 51px

.mission
	margin-bottom 1.5em
	h1
		margin-top 0.25em
		padding-bottom 0.5em
		text-align center
		border-bottom 1px solid lighten($grey, 30%)
		position relative
		z-index 0
	h1:after {
		content:"";
		border-color: white transparent transparent transparent;
		border-style:solid;
		border-width:8px;
		position:absolute;
		bottom:-15px;
		left:50%;
		margin-left:-8px
	}
	h1:before {
		content:"";
		border-color: lighten($grey, 30%) transparent transparent transparent;
		border-style:solid;
		border-width:9px;
		position:absolute;
		bottom:-18px;
		left:50%;
		margin-left: -9px
	}
	p
		font-size 1.2em
		padding-bottom 1.25em
		padding-top 0.5em
		border-bottom 1px solid lighten($grey, 30%)
		box-shadow(0px,2px,0,rgba(255,255,255,1))
		text-align center
		margin-bottom 0.25em

.donations
	margin-top -0.5em
	span
		font 5.2em arial
		font-weight bold
		color $orange
		text-shadow 0px -2px 0px darken($orange, 30%)
	small
		font 1.5em $tertiary
		color $orange
		display block
		text-align left
		margin-top -0.5em
		margin-bottom 0.5em
	.button
		float left
		margin-right 0.25em
		padding 0 1.1em 0.12em
	.secondary_cta
		font-size 0.8em
		text-align left !important
		line-height 1.2em
		position relative
		top 0.25em
		float left
		width 51%

.worldmap, .donations
	overflow hidden
	text-align center
	border-bottom 1px solid lighten($grey, 30%)
	box-shadow(0, 2px 0px white)

.item
	font-size 0.9em
	line-height 1.4em
	margin 1em 0
	overflow hidden
	img
		box-shadow
	p
		margin-bottom 1em
	ul
		list-style none;
		padding-left 1em
		li
			padding-left 1.25em
			line-height 1.75em
			background url(../img/bullet.png) no-repeat 0 10px
			a
				font-weight bold
	.variations
		list-style none
		padding 0
		li
			padding 0
			background none
			clear both
			margin-bottom 1em
			line-height 1.4em
			overflow hidden
			strong
				float left
				small
					font-size 0.6em
					letter-spacing 0.1em
					line-height 1em
					text-transform uppercase
					color $orange//darken($grey, 40%)
					display block
			form
				float right

.columns > div
	clear left

.rows .item
	margin-bottom 2em
	overflow hidden
	img
		float left
		margin-right 2em

#comments > ol
	padding 0
	list-style none
	>li
		padding-bottom 1.5em
		margin-bottom 1.5em
		border-bottom 1px solid lighten($grey, 25%)
		box-shadow(0,2px,0,white)
		img
			margin-right 1em
		time
			background none
			font-family district_prothin
			font-size 1em
			width auto
			padding 0


body > section > aside
	.widget_search form
		position relative
		label
			position absolute
			left -2560px
		#s
			width 100%
			border-radius 40px
			border none
			box-shadow(inset 0, 1px, 4px, rgba(0,0,0,0.25))
			font 1.6em $tertiary
			padding 0.35em
			text-indent 0.5em
			color darken($blue, 10%)
			-webkit-font-smoothing: antialiased;
		#s:focus
			outline none
			background linear-gradient(top, white 0%, lighten($blue, 96%))
		#searchsubmit
			margin-top 0
			position absolute
			right 4px
			top 6px
			width 45px
			height 45px
			border-radius 45px
			padding 0
			box-shadow(0,1px,2px, rgba(0,0,0,0.25))
			text-indent 100%;
			background url(../img/search.png) no-repeat 13px 13px, -webkit-linear-gradient(top, #c6dda0 0%, #a3c967 10%, #8cbb42 100%)
			background url(../img/search.png) no-repeat 13px 13px,-moz-linear-gradient(top, #c6dda0 0%, #a3c967 10%, #8cbb42 100%)
			background url(../img/search.png) no-repeat 13px 13px, -o-linear-gradient(top, #c6dda0 0%, #a3c967 10%, #8cbb42 100%)
			background url(../img/search.png) no-repeat 13px 13px, -ms-linear-gradient(top, #c6dda0 0%, #a3c967 10%, #8cbb42 100%)
			background url(../img/search.png) no-repeat 13px 13px, linear-gradient(top, #c6dda0 0%, #a3c967 10%, #8cbb42 100%)
		#searchsubmit:active
			box-shadow(0,1px,0px,rgba(255,255,255,1))
	.widget_recent_comments ul
		padding 0
		margin-top 0.5em
		list-style none
		font-size 0.85em
		line-height 1.4em
		li
			margin-bottom 0.5em
		p
			margin-bottom 0em
			text-overflow ellipsis
			overflow: hidden;
			white-space nowrap
			width 100%
			color $blue
		span
			font-size 0.8em
			text-transform uppercase
			color darken($grey, 33%)
			em
				text-transform lowercase
				font-style normal

body .voucher
	position relative
	display block
	padding-left 0.3em
	padding-right 0.3em
	font-size 1.8em
	small
		position absolute
		top 0.3em
		right 0.4em
		font-size 0.4em
		width 41%
	&:hover small
		color white
div.voucher
	font-size 0.8em
	line-height 1.4em
	margin-top:0.6em
	span
		color $green
		font-weight bold

.post-type-archive-tutorial section, .tax-tutorial_tag section, .tax-level section, .single-tutorial section
	aside
		margin-top 0.6em
		h2
			margin-bottom 0em
		> ul
			list-style none
			padding 0
			margin 0
			font-size 0.8em
			> li > a
				text-transform uppercase
				font-weight bold
			> li.active > a
				color $black
			> li ul
				padding 0
				margin-bottom 1em
				li
					list-style none
					background url(../img/bullet.png) no-repeat left 10px
					padding-left 1.25em
				li.active a
					color $black
			> li.current-tutorial-ancestor > a
				color $blue !important
	.tutorials
		.item
			clear left
	.post-nav ul
		list-style none
		padding 0
		li
			col(12)
			&.next
				text-align right



body > footer
	background url(../img/bg_footer.png)
	font-size 0.8em
	line-height 1.6em
	box-shadow(inset 0 0 7px rgba(0,0,0,0.2))
	margin 0 -7px
	padding 1em

	h3
		margin-top 1em
		color darken($green, 0%)

	.summary
		margin-top 1.6em
		/*
		background url(../img/footer_logo.png) no-repeat
		padding-left 160px
		*/
		img
			float left
			margin 0.5em 1.5em 1em 0
		p
			text-align left
	.sponsors
		text-align center
		img
			margin-top 0.5em
	.mailing_list
		margin-bottom 2em
		p
			margin-bottom 0.8em
		small
			line-height 1em
			float left
			width 56%
			margin-top 0.9em
		label input
			border 1px solid lighten($grey, 50%)
			box-shadow none
		.button
			float right
			font-size 2em



.map, .donations, .project-tutorial, .project-news
	stack()