.js body > header
	div
		.extended-cta
			width auto
			background none
			position absolute
			right 0
			bottom auto
			top 5.1em
			p
				font-size 1em
				padding-left 1em
		.bannerad
			width 390px
			max-width none
			background url(../img/banner-wide.png) no-repeat
			margin-right 0
			margin-bottom 0
			margin-top 1em
			padding 0.7em 1em 0.25em 8.5em
			h3
				display block
				text-align left
				margin-bottom 0
			p
				float left
				text-align left
				width 60%
				line-height 1.2em
			span
				display inline
				float right
	.cta
		display none

.js body > header div
	.logo
		col(6)

.js body > header.child
	.logo
		margin-bottom 1em
	.extended-cta
		display block
		p
			color darken($grey, 60%)
		a
			color $blue

.multihero
	.carousel-control
		top 28%

.columns .item
	col(8)

.post-type-archive-tutorial section, .tax-tutorial_tag section, .tax-level section, .single-tutorial section
	aside
		col(4)
	.tutorials
		col(20)
		last()

body > section aside
	col(8)
	last()

footer
	padding 0
	.summary
		col(12)
	.sponsors
		col(6)
	.mailing_list
		col(6)
		last()
